body {
    margin: 0;
    padding: 0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/014/906/983/original/chessboard-isolated-back-yellow-abstract-background-texture-seamless-pattern-illustration-free-vector.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}


/* Base styles for gallery and thumbnails */
.gallery {
    display: grid;
    grid-template-columns: 1fr; /* Single column for all thumbnails */
    grid-gap: 1em; /* Space between thumbnails */
    max-width: 600px; /* Adjust based on your preference */
    margin: 0 auto; /* Center the gallery */
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05); /* Adjust the scale value to control the intensity of the pulse */
    }
    100% {
      transform: scale(1);
    }
  }
  
 /* Base styles for thumbnails */
.thumbnail {
    color: #001f3f;
    display: block; /* Change to block for stacking vertically */
    justify-content: center;
    align-items: center;
    height: auto; /* Adjust height to be auto for responsive height */
    max-height: 500px; /* Adjust max-height as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Subtle shadow */
                0 6px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 3em; /* Space between thumbnails */
    overflow: hidden; /* Ensure no content spills out */
    transition: transform 0.2s ease-in-out; /* Smooth transition */
    animation: pulse 5s infinite; /* Apply the pulse animation */
}

/* Styles for images inside thumbnails */
.thumbnail img {
    width: 100%; /* Full width of the thumbnail */
    height: auto; /* Height is auto to maintain aspect ratio */
    object-fit: cover; /* Cover the thumbnail area */
    object-position: center; /* Center the image */
    border-radius: 10px; /* Rounded corners */
}

/* Remove specific height settings for different nth-child */
.thumbnail:nth-child(1),
.thumbnail:nth-child(2),
.thumbnail:nth-child(4),
.thumbnail:nth-child(6),
.thumbnail:nth-child(8),
.thumbnail:nth-child(10),
.thumbnail:nth-child(12),
.thumbnail:nth-child(14) {
    height: auto; /* Reset heights for all thumbnails */
    max-height: none; /* Allow thumbnails to define their height */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .gallery {
        max-width: 100%; /* Allow gallery to fill the screen width */
    }

}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000; /* High z-index to be on top of other content */
}

#yearbookFrame {
    display: block; /* Ensure iframe is a block element for easier centering */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjusted to 90% of the viewport width */
    height: 90%; /* Adjusted to 90% of the viewport height */
    max-width: 600px; /* Maximum size constraints */
    max-height: 90vh;
    border: none; /* Remove any default border */
    z-index: 1001; /* Above the overlay */
}

/* Fullscreen Button Styles */
#fullscreenButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    z-index: 1002; /* Ensure it is above the overlay */
}

#fullscreenButton:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
